<div class="animated-header">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="typed-text-container">
        <span id="typed-text" class="typed-text"></span><span id="cursor" class="typed-cursor">&nbsp;</span>
    </div>
</div>
<div class="page-content">
    <h1>Leopold Hock</h1>
    <div class="separator"></div>
    <div class="v-box">
        <h5>Software Architect</h5>
        <h6>#CSharp #Unity #JavaScript #Ember</h6>
        <h5>SAP Engineer</h5>
        <h6>#ABAP #ABAP-OO #ODATA #SAPUI5 #PM #EWM #ERP #TM</h6>
        <h5>Trainer/Science Communicator</h5>
        <h6>#Radio #Podcast #Trainings #Workshops</h6>
    </div>
    <div class="separator"></div>
    <div class="big-button-container">
        <a class=" big-button" href="https://www.github.com/leopoldhock">
            {{fa-icon "github" size="2"}}
            <h5>GitHub</h5>
        </a>

        <a class="big-button"
            href="https://www.deutschlandfunk.de/suchergebnisse.448.de.html?search%5Bsubmit%5D=1&search%5BwithNews%5D%5B%5D=WithNews&search%5Bword%5D=Leopold+Hock">
            {{fa-icon "podcast" size="2"}}
            <h5>Radio</h5>
        </a>

        <a class="big-button" href="mailto:kontakt@leopoldhock.de">
            {{fa-icon "envelope" size="2"}}
            <h5>Kontakt</h5>
        </a>
    </div>
</div>