{{!--HEADER TOOLBAR--}}
<div class="branding-bar" />

{{!--PAGE CONTENT--}}
<div id="pageOutlet" class="page-outlet">
    {{outlet}}
</div>

<div class="footer-toolbar">
    <button type="button" class="footer-button" {{on "click" (fn this.onHeaderButtonClick "home" )}}>Home</button>
    <button type="button" class="footer-button" {{on "click" (fn this.onHeaderButtonClick "imprint" )}}>Impressum/Legal
    </button>
    <p class="copyright">© Leopold Hock 2020 - All rights reserved.</p>
</div>